.home{
  background-image: url("https://mariomushamel1.github.io/images/home_background.jpg");
  background-size: cover;
  background-size: cover;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.text-box{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.about{
  background-image: url("https://mariomushamel1.github.io/images/about_picture2.jpg");
  background-size: cover;
  height: 100vh; 

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.service{
  background-image: url("https://mariomushamel1.github.io/images/contact_background.jpg");
  background-size: cover;
  height: 100vh; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.service_img {
  height: 200px;
  margin-right: 149px;
  margin-left: 149px;
  margin-top: auto;
  margin-bottom: 200px;
}

.delivery {
  background-image: url("https://mariomushamel1.github.io/images/delivery_background.jpg");
  background-size: cover;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.delivery_img {
  height: 125px;
}

h2 {
  font-size: 40px;
}

h1{
  font-size: 40px;
}

h3{
  font-size: 15px;
}

h4{
  font-size: 40px;
  float: inline-end;
  margin-right: 55%;
  margin-top: 20%;
  margin-bottom: 10px;
}

h5{
  font-size: 20px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20%;
}

.contact{
  background-image: url("images/contact_background2.jpg");
  background-size: cover;
  background-size: cover;
  height: 100vh; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.map_img {
  height: 200px;
  float: inline-end;
  margin-left: 130%;
  margin-bottom: -50%;

}

.container {
  font-family: Snell Roundhand;
  color: red;
  outline: black;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

