
.home{
  background-image: url("https://mariomushamel1.github.io/images/home_background.jpg");
  background-size: cover;
  background-size: cover;
}

.about{
  background-image: url("https://mariomushamel1.github.io/images/abour_picture.jpg");
  background-size: cover;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}
